.booking_content {
  padding: 70px 0;
  background-color: #F4F1EC;
}

.stylist {
  text-align: center;
  padding: $m-size;
  border: 2px solid #F5F4F4;
  border-radius: 1em;
  background-color: white;
  // height: 200px;
}

.booking_details {
  margin-top: 50px
}

.modal-content {
  border-radius: 0.5em;
  padding: 20px;
}