.reserve-content {
  // text-align: center;
  padding: 7rem;
  // margin: $m-size;
}

.reserve-content > h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: $m-size;
}

.booking {
  text-align: right;
}