{
  "presets": [
    // "env",
    // "react",
    // "@babel/preset-env",
    // "@babel/preset-react",
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}